---
import Default from '../layouts/Default.astro';
---

<Default title="About | Paul Simpson">
  <section class="about">
    <h6 class="meta">Last updated 15 March 2026</h6>
    <img src="/images/paulandkara.jpg" />
    <p>
      I'm an engineering leader at <a href="https://kajabi.com">Kajabi</a>,
      focused on developer experience and internal tooling. Before that I worked
      at Harvest, Blue Apron, and TaxJar — and before any of that, I was an
      infantry officer in the US Army. These days I'm in Oklahoma City with my
      wife, Kara, and our kids.
    </p>
    <p>
      Outside of work I collect <a href="https://www.discogs.com/user/prsimp"
        >vinyl</a
      >, tinker on side projects, and occasionally write here about whatever's
      on my mind.
    </p>
    <p>You can find me in a few places around the internet:</p>
    <ul>
      <li><a href="https://github.com/prsimp">GitHub</a></li>
      <li><a href="https://bsky.app/profile/prsimp.bsky.social">Bluesky</a></li>
      <li><a href="https://linkedin.com/in/prsimp">LinkedIn</a></li>
      <li>
        <a href="https://www.everyexpert.com/paulsimpson">Every Expert</a>
      </li>
    </ul>
    <p>
      Want to get in touch? <a
        href="https://github.com/prsimp/feedback/issues/new">Reach out here.</a
      >
    </p>
  </section>
</Default>
