@import "compass/reset";
@import "compass/css3";

// Variables
// ---------
$red:           #dc322f;
$blue:          #268bd2;
$gray:          #f5f5f5;
$text:          #222222;
$headings:      #333333;
$links:         $blue;

$border_light:  rgba(0,0,0,0.10);
$border_dark:   rgba(0,0,0,0.25);

$p_font_stack:  'museo-sans-1', 'museo-sans-2', Helvetica, Arial, sans-serif;
$h_font_stack:  'museo-slab-1', 'museo-slab-2', Helvetica, Arial, sans-serif;
$c_font_stack:  'Bit Stream Vera Mono', 'Consolas', 'Courier New', monospace;

$columns:       12;
$column_width:  40px;
$gutter_width:  20px;

// Basics
// ------
html { overflow-y: scroll; } // Force scrollbars for better layouts

body {
  background: $gray;
  font-family: $p_font_stack;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

// Typography
// ----------
@import "_type.scss";

// Layouts using Semantic Grid
// From TwigKit: http://semantic.gs/
@import "_grid.scss";

.container {
  width: $columns * $column_width + ($columns - 1) * $gutter_width;
  margin: 12px auto;
  margin: 0.75em auto;
}

header {
  @include column(12);
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid $border_dark;

  .logo {
    @include row(12);
    @include column(6,12);
    @include border-radius(8px);
    background-color: $red;
    margin-left: 0;
    text-align: center;

    h1 {
      font-family: $h_font_stack;
      font-size: 48px;
      font-size: 3rem;
      color: $gray;
      margin-bottom: 0;
    }

    a { text-decoration: none; }

    //&:hover { opacity: 0.85; }
  }

  nav {
    @include column(2,12);
    text-align: right;
    margin-left: 250px;
    margin-right: 0;

    ul {
      margin-bottom: -10px; // Hack-y way of moving nav down :(

      li {
        font-size: 14px;
        font-size: 0.875rem;
        font-weight: bold;
        line-height: 19px;
        line-height: 1.1875rem;
      }
    }

    a {
      color: $text;
      text-decoration: none;
      font-family: $h_font_stack;

      &:hover { color: $links; text-decoration: none; }
    }
  }
}

section {
  @include column(12);
  margin-bottom: 24px;
  margin-bottom: 1.5rem;

  h1 a {
    color: $headings;
    text-decoration: none;

    &:hover {
      color: $links;
      text-decoration: none;
      //opacity: 0.50;
    }
  }

  p a, ol a, li a, blockquote a {
    color: $links;
    text-decoration: none;

    &:hover { text-decoration: underline; }
  }

  h6.meta {
    margin-top: -22px;
    color: lighten($headings, 45%);
    font-weight: normal;
  }
}

.first {
  border-bottom: 1px solid $border_dark;

  ul, ol, dl {
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
    margin-left: 20px;
    margin-left: 1.25rem;
    padding-right: 40px;
  }

  ul { list-style: square inside; }
  ol { list-style: decimal inside; }

  li {
    margin-bottom: 6px;
    margin-bottom: 0.375rem;
  }
}

.about {
  img {
    border: 1px solid rgba(0,0,0,0.50);
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
    @include box-shadow(rgba(0,0,0,0.25) 0px 0px 5px);
  }
}

.short_list, .archives {

  ul {
    list-style: none;
    margin-left: 0;
    padding: 0;
  }

  li {
    border-bottom: 1px solid $border_light;
    padding: 10px 0;

    a {
    color: $text;
    text-decoration: none;

      &:hover { color: $links; }
    }
  }

  li.the_end {
    border-bottom: none;
  }

  .date {
    float: right;
    color: lighten($headings, 45%);
  }
}

code.inline {
  background-color: #fdf6e3;
  font-family: $c_font_stack;
  font-size: 14px;
  font-size: 0.875rem;
  border: 1px solid $border_dark;
  padding: 4px 2px 0 2px;
  @include border-radius(2px);
}

.highlight {
  margin: 0 2px 24px 2px;
  margin: 0 0.125rem 1.5rem 0.125rem;
  font-family: $c_font_stack;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.25;
  @include border-radius(2px);
  @include box-shadow(0px 0px 1px rgba(0,0,0,0.5));
  padding: 5px;
}

.notes {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;

  h6 { margin-bottom: 12px; margin-bottom: 0.75rem; }

  p {
    font-size: 12px;
    font-size: 0.75rem;
    margin-bottom: 8px;
    margin-bottom: 0.5rem;}
}

footer {
  @include column(12);
  height: 4px;
  background-color: $red;
}
